.clockip {
  position: absolute;
  top: 128px;
  right: 15px;
  z-index: 1;
  color: #888;
}

.clockip.uni-oldenburg {
  top: 88px;
  right: 15px;
  font-family: MetaWeb, Delicious, Arial, Sans-Serif;
  font-size: 1.5em;
  color: #888;
}

.clockip.uni-augsburg {
  font-size: 13px;
}

.clockip.uni-augsburg.sidebar {
  position: relative;
  top: 0;
  left: 0;
  font-size: 14px;
  color: red;
}

.clockip {
  display: none;
}

@media print {
  .clockip {
    display: none;
  }
}
