.clockip {
  color: #8a9bb9;
  position: absolute;
  right: 16px;
  top: 128px;
  z-index: 10; }
  .clockip.uni-oldenburg {
    color: #dddddd;
    font-size: 24px;
    right: 25px;
    top: 115px; }
  .clockip.uni-augsburg {
    font-size: 13px; }
    .clockip.uni-augsburg.sidebar {
      color: red;
      font-size: 14px;
      left: 0;
      position: relative;
      top: 0; }
