.clockip {
  color: #8a9bb9;
  position: absolute;
  right: 6px;
  top: 128px;
  z-index: 10; }
  .clockip.uni-oldenburg {
    color: #444444;
    right: 35px;
    top: 166px; }
  .clockip.uni-augsburg {
    font-size: 13px; }
    .clockip.uni-augsburg.sidebar {
      color: red;
      font-size: 14px;
      left: 0;
      position: relative;
      top: 0; }

@media print {
  .clockip {
    display: none; } }
